{% extends 'base.html' %}

{% block title %}Welcome to Event+{% endblock %}
{% block content %}
<body>

    <center>
    <h1> WELCOME TO EVENT +</h1>
    <p> log in as</p>
    <a href ="{% url 'loginvisitor' %}">Visitor</a>
    <a href ="{% url 'login' %}">Organizer</a>

    <p>I already have an account</p>
        <a href="{% url 'registervisitor' %}">As Visitor</a>
        <a href="{% url 'registerorganizer' %}">As Organizer</a>

    </center>
</body>
{% endblock content %}