{% block content %}
<center>
	<div>
		<div class="heroText">
			My Wallet
		</div>
		<div class='topnav'>
			<a href="{% url 'landingpage' %}"> Home </a>.
			<a href="{% url 'profile' %}"> Profile </a>
			<a class='active' href="{% url 'ewallet' %}"> Wallet </a>
			<a href="{% url 'mytransactions' %}"> Transactions </a>
			<a href="{% url 'registervisitor' %}">Register Visitor</a>
			<a href="{% url 'registerorganizer' %}">Register Organizer</a>
			<a href="{% url 'login' %}">Log Out</a>
		</div>
		<div>
			<p> Name: {{ user.username }} </p> 
			<p> Email: {{ user.email }} </p> <br>
		</div>
		<div>
			<style type="text/css">
			.tg  {border-collapse:collapse;border-spacing:0;}
			.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			  overflow:hidden;padding:10px 5px;word-break:normal;}
			.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
			.tg .tg-baqh{text-align:center;vertical-align:top}
            </style>
			<h1>[Organizer Name]</h1>
			<p>Email: [Email Organizer]</p>
			<p>Total Event: [Total Event]</p>
            <p>[Average Rating] / [Testimonies Count]</p>

			<table class="tg">
			<thead>
			  <tr>
				<th class="tg-baqh">No</th>
				<th class="tg-baqh">Event Name</th>
				<th class="tg-baqh">Date of Event</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td class="tg-baqh">1</td>
				<td class="tg-baqh">[Event 1]</td>
				<td class="tg-baqh">[Closest Date From Now]</td>
			  </tr>
			</tbody>
			</table>
	</div>
</center>
{% endblock %}