{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}
<!-- Start of page content -->


<!-- Text landing -->
{% block content %}
{% load tags %}
{% is_authenticated as auth %}
{% if auth %}
<center>
	<div>
    <div class="heroText">
        EVENT+ - Profile
    </div>
    <div>
		<a href= "{% url 'editprofile' %}"> <h3> Edit Profile </h3> </a>
        <p> Email: {{ profile.email }} </p>
        {% if profile.type == 'visitor' %}
            <p> Name: {{ profile.first_name }} {{profile.last_name}} </p>
        {%else%}
		    <p> Identity: {{profile.npwp}} </p>
        {% endif%}
    </div>
	</div>
    </center>
    {% else %}
<div class="container">
    <div class="heroText">
        You are not logged in!
    </div>
    <div>
        <a href="{% url 'landingpage' %}"> HOME </a>
    </div>
</div>
{% endif %}
{% endblock %}