{% extends 'base.html' %}
{% load static %}

{% block title %}Register as Visitor{% endblock %}
<!-- Start of page content -->


<!-- Text landing -->
{% block content %}
<div class="container">
    <div class="heroText">
        EVENT+ - Register Visitor
    </div>
    <div>	
		<form method="post">
			{% csrf_token %}
		<br>
			<label for="your_email">Email: </label>
			<input id="your_email" type="text" name="your_email" value="{{ current_email }}"> <br> <br>
			<label for="your_password">Password: </label>
			<input id="your_password" type="text" name="your_password" value="{{ current_password }}"> <br> <br>
			<label for="your_fname">First Name: </label>
			<input id="your_fname" type="text" name="your_fname" value="{{ current_name }}"> <br> <br>
			<label for="your_lname">Last Name: </label>
			<input id="your_lname" type="text" name="your_lname" value="{{ current_name }}"> <br> <br>
			<p>{{message}}</p>
			<input class="cta-full bg-black" type="submit" value="Register">
			<a href= "{% url 'landingpage' %}"> Cancel </a>
		</form>
	</div>
{% endblock %}