{% block content %}
<center>
	<div>
		<div class="heroText">
			My Wallet
		</div>
		<div class='topnav'>
			<a href="{% url 'landingpage' %}"> Home </a>.
			<a href="{% url 'profile' %}"> Profile </a>
			<a class='active' href="{% url 'ewallet' %}"> Wallet </a>
			<a href="{% url 'mytransactions' %}"> Transactions </a>
			<a href="{% url 'registervisitor' %}">Register Visitor</a>
			<a href="{% url 'registerorganizer' %}">Register Organizer</a>
			<a href="{% url 'login' %}">Log Out</a>
		</div>
		<div>
			<p> Name: {{ user.username }} </p> 
			<p> Email: {{ user.email }} </p> <br>
		</div>
		<div>
			<style type="text/css">
			.tg  {border-collapse:collapse;border-spacing:0;}
			.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			  overflow:hidden;padding:10px 5px;word-break:normal;}
			.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
			.tg .tg-baqh{text-align:center;vertical-align:top}
            </style>
            <h1>[Event Name]</h1>
            <p>Status Event: [Ongoing/Finished]</p>
            <p>Organizer: [Organizer Name]</p>
			<p>Event Description: [Event Description]</p>
			<p>Theme: [Event Theme]</p>
            <p>Date: [Date]</p>
			<p>Time: [Time]</p>
			<p>Location: [Event Location]</p>
			<p>Total Visitor: [Total Visitor]</p>


			<h2>Ticket Class List</h2>
			<table class="tg">
			<thead>
			  <tr>
				<th class="tg-baqh">No</th>
				<th class="tg-baqh">Class Name</th>
				<th class="tg-baqh">Tarif</th>
				<th class="tg-baqh">Capacity</th>
				<th class="tg-baqh">Capacity Available</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td class="tg-baqh">1</td>
				<td class="tg-baqh">[VIP]</td>
				<td class="tg-baqh">[100000]</td>
				<td class="tg-baqh">[200]</td>
				<td class="tg-baqh">[158]</td>
			  </tr>
			  <tr>
				<td class="tg-baqh">2</td>
				<td class="tg-baqh">[Eco]</td>
				<td class="tg-baqh">[103000]</td>
				<td class="tg-baqh">[300]</td>
				<td class="tg-baqh">[128]</td>
			  </tr>
			</tbody>
			</table>
			
			<br><br>

			<h2>[Avg Rating] / [Testimonies Count]</h2>
			<table class="tg">
                <thead>
                  <tr>
                    <th class="tg-baqh">No</th>
                    <th class="tg-baqh">Timestamp</th>
                    <th class="tg-baqh">Ticket Owner Email</th>
                    <th class="tg-baqh">Rating</th>
                    <th class="tg-baqh">Content & Photo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tg-baqh">1</td>
                    <td class="tg-baqh">[1 Des 2020]</td>
                    <td class="tg-baqh">[telkom@instan.com]</td>
                    <td class="tg-baqh">[3/5]</td>                   
					<td class="tg-baqh">[Internet nya jelek kayak]</td>
                  </tr>
                  <tr>
                    <td class="tg-baqh">2</td>
                    <td class="tg-baqh">[1 Des 2020]</td>
                    <td class="tg-baqh">[telkom@instan.com]</td>
                    <td class="tg-baqh">[3/5]</td>                   
					<td class="tg-baqh">[Internet nya jelek kayak]</td>
                  </tr>
                </tbody>
                </table>
		</div>
	</div>
</center>
{% endblock %}