{% block content %}
<center>
	<div>
		<div class="heroText">
			My Wallet
		</div>
		<div class='topnav'>
			<a href="{% url 'landingpage' %}"> Home </a>.
			<a href="{% url 'profile' %}"> Profile </a>
			<a class='active' href="{% url 'ewallet' %}"> Wallet </a>
			<a href="{% url 'mytransactions' %}"> Transactions </a>
			<a href="{% url 'registervisitor' %}">Register Visitor</a>
			<a href="{% url 'registerorganizer' %}">Register Organizer</a>
			<a href="{% url 'login' %}">Log Out</a>
		</div>
		<div>
			<p> Name: {{ user.username }} </p> 
			<p> Email: {{ user.email }} </p> <br>
		</div>
		<div>
			<style type="text/css">
			.tg  {border-collapse:collapse;border-spacing:0;}
			.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			  overflow:hidden;padding:10px 5px;word-break:normal;}
			.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
			  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
			.tg .tg-baqh{text-align:center;vertical-align:top}
            </style>
            <h1>My Testimonies</h1>

			<table class="tg">
			<thead>
			  <tr>
				<th class="tg-baqh">No</th>
				<th class="tg-baqh">Timestamp</th>
				<th class="tg-baqh">Event Name</th>
				<th class="tg-baqh">Rating</th>
				<th class="tg-baqh">Content</th>
				<th class="tg-baqh">Photo</th>
				<th class="tg-baqh">Edit</th>
				<th class="tg-baqh">Delete</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td class="tg-baqh">1</td>
				<td class="tg-baqh">[Ini tanggal ya]</td>
				<td class="tg-baqh">[Futsal Fun]</td>
				<td class="tg-baqh">[3]</td>
				<td class="tg-baqh">Bolanya Keras</td>
				<td class="tg-baqh">Google.com</td>
				<th class="tg-baqh">Edit</th>
				<th class="tg-baqh">Delete</th>
			  </tr>
			</tbody>
            </table>
		</div>
	</div>
</center>


{% endblock %}