<!-- templates/registration/login.html -->
{% load static %}

<html>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />


<title> Log In </title>

<h2>Log In AS Organizer</h2>
<form method="POST">
  {% csrf_token %}
  <label for="email">Email</label>
  <input type="text" name="email" id ="email">
  <br>
  <label for="password"> Password </label>
  <input type="password" name="password" id ="password">
  <br>
  <button type="submit" formaction="{% url 'login'%}">Log In</button>
</form>
{{message}}
</html>